@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

:root {
    --lightblue: #1490C6;
    --white: #fff;
}

.bg-lightblue {
    background-color: var(--lightblue);
}

body * {
    font-family: 'Lato';
}

header {
    margin-top: 5.0rem;
}

header p{
    display: inline-block;
}

.image-1{
    border-radius: 5%;
}


#sobre-mi .content-header{
    font-size: 1.56rem;
    letter-spacing: 0.1rem;
}

hr{
    background-color: black;
    height: 0.3rem;
}

.relator:hover {
    color: var(--lightblue);
    cursor: pointer;
}

.banco:hover {
    color: var(--lightblue);
    cursor: pointer;
}

.tienda:hover{
    color: var(--lightblue);
    cursor: pointer;
}

.comex:hover{
    color: var(--lightblue);
    cursor: pointer;
}

#trabajos hr{
    background-color: var(--white);
}






